docs/
music/
*.log
*.tmp
*.bak
*.swp
.DS_Store
node_modules/
dist/
build/
coverage/
.env
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
SoundFlow.Api/bin/
SoundFlow.Api/obj/
SoundFlow.Desktop/bin/
SoundFlow.Desktop/obj/