# Dossiers de build et dépendances
**/bin/
**/obj/
**/Uploads/
**/lyrics/
node_modules/
dist/
build/
coverage/

# Fichiers de configuration sensibles et locaux
.env
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace

# Fichiers temporaires et logs
*.log
*.tmp
*.bak
*.swp
.DS_Store

# Médias spécifiques au projet
music/

